.card {
    border: 0;
    padding: 0 .5em;
}
.card-body {
    overflow-y: scroll;
    height: 38em;
}
.chat {
    list-style: none;
    margin:0;
    padding: 0;
}

.chat li {
    margin-bottom:1em;
    padding-bottom: 1.5em;
    border-bottom: 1px dotted #b3a9a9;
}
.rounded-circle {
    max-height:4em;
}

.float-right .rounded-circle{
    margin-left: .5em;
}
.w-100 {
    width:100%;
}

.float-left .rounded-circle{
    margin-right: .5em;
}

span.fa.fa-clock-o::before {
    padding-right: 4px;
}